<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Troca de senha.</h2>
    <p><%= @user.name.capitalize %>, para efetuar a troca da sua senha, <a href="<%= @url %>">clique aqui</a></p>
    <p>Caso não consiga abrir o link acima, copie este endereço no seu navegador: <%= @url %></p>
  </body>
</html>
