<html>
 
    <head>
      <title>index</title>
    </head>

    <body>
      
      <h1 style="text-align:center;"><b>Bem vindo ao PLUTO - Financial App</b></h1>
      <h5 style="text-align:center;"><b>Seu sistema de Organização de Finanças Pessoais</b></h5>
      
      <div class="jumbotron text-center">
        <div class="container">
          <p> <%=link_to "Contas", "/accounts"%> </p>
          <p> <%=link_to "Transações", "/transactions/"%> </p>
        </div>
      </div>
      
    </body>
</html>
