<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo" ="logo">
      <img src="<%= asset_path('clippluto22.gif') %>">
    </a>
    <p></p>
    <p></p>
    <h2>Coming Soon...</h2>
  </div>
</div>
