<div id="login-credenciais" class="panel panel-primary">
  <div class="panel-heading">Cadastrar nova senha</div>
  <%= form_tag(controller: "login", action: "set_password", method: "post") do %>
  <input type="hidden" name="token" value="<%= params[:token] %>">
  <div class="panel-body">
    <div>Informe abaixo sua nova senha.</div><br>
    <div class="form-group">
      <input type="password" name="password" placeholder="Nova senha" class="form-control"><br>
      <input type="password" name="password2" placeholder="Confirme a nova senha" class="form-control">
    </div>
    <div id="login-botoes" class="btn-group btn-group-lg" role="group">
      <input type="submit" class="btn btn-default" value="Cadastrar">
    </div>
    <% end %>
  </div>
</div>
