<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Recuperação de senha</h1>
        <br><br><br>
        <p>
            Sua nova senha é: <%= @user.password %>
        </p>
    </body>
</html>