<html>
    <body>
        <table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Saldo</th>
        </tr>
    </thead>
    <tbody>
        <% @contas.each do |account| %>
        <tr>
            <td><%= account.name %></%></td>
            <td><%= account.balance %></%></td>
            <td><%= button_to "Excluir", account, method: :delete %></td>
        </tr>
        <% end %>
    </tbody>
        </table>
        <%= link_to "Criar nova conta", :accounts_new %>
    </body>
</html>